.cartList {
    .modal-dialog {
        .modal-content {
            font-family: 'Times New Roman', Times, serif;
            @include xs {
                width: 100%;
            }
            @include md {
                width: 120%;
            }
        }
    }
}